<a href="https://colab.research.google.com/github/rahma-123/BasicMechineLearning/blob/main/Project_21_Februari_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **SOAL** **LATIHAN** **1**

# New Section

In [ ]:
pip install numpy pandas matplotlib seaborn scikit-learn

Requirement already satisfied: numpy in /usr/local/lib/python3.11/dist-packages (1.26.4)
Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.11/dist-packages (3.10.0)
Requirement already satisfied: seaborn in /usr/local/lib/python3.11/dist-packages (0.13.2)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.11/dist-packages (1.6.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (4.56.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (1.4.8)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (3.2.1)
Requirement already satisfied: scipy>=1.6.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn) (3.5.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

# New Section

In [ ]:
#variabel nama mahasiswa
import pandas as pd
data = {'Nama' : ['Andi', 'Budi' , 'Siti', 'Dina' , 'Eko' , 'Fajar' , 'Gita' , 'Hadi' ,'Indah' ,'Joko'], 'Nilai' : [85, 90, 78, 95, 88, 76, 89, 92, 85, 80] }
df = pd.DataFrame(data)

print(df)

    Nama  Nilai
0   Andi     85
1   Budi     90
2   Siti     78
3   Dina     95
4    Eko     88
5  Fajar     76
6   Gita     89
7   Hadi     92
8  Indah     85
9   Joko     80

In [ ]:
import numpy as np


rata_rata = df['Nilai'].mean()
print(rata_rata)

85.8

In [ ]:
maximum = df['Nilai'].max()
print(maximum)

95

In [ ]:
minimum = df['Nilai'].min()
print(minimum)

76

In [ ]:
Mahasiswa_diatas_rata_rata = df[df['Nilai'] > rata_rata]
print(Mahasiswa_diatas_rata_rata)

   Nama  Nilai
1  Budi     90
3  Dina     95
4   Eko     88
6  Gita     89
7  Hadi     92

# **SOAL** **LATIHAN** **2**

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt



#MENGGUNAKAN DATA SEBAGAI INPUT DARI PROGRAM

#dictionary
data = {'Andi' : 85, 'Budi' : 74, 'Siti' : 92 , 'Diana' :50 , 'Eko' : 45, 'Fajar' :77 , 'Gita' :80 , 'Hadi' : 59 , 'Indah' :90, 'Joko' :6}
print(data)

{'Andi': 85, 'Budi': 74, 'Siti': 92, 'Diana': 50, 'Eko': 45, 'Fajar': 77, 'Gita': 80, 'Hadi': 59, 'Indah': 90, 'Joko': 6}

In [ ]:
#MENGGUNAKAN LOOP UNTUK MEMPROSES SETIAP MAHASISWA

#Fungsi loop
for Nama, Nilai in data.items():
  print (f" {Nama} : {Nilai}")

 Andi : 85
 Budi : 74
 Siti : 92
 Diana : 50
 Eko : 45
 Fajar : 77
 Gita : 80
 Hadi : 59
 Indah : 90
 Joko : 6

In [ ]:
#Mengkonversikan nilai angka ke nilai huruf berdasarkan tabel
#Fungsi loop

#variabel baru
hasil_ujian = {}
jumlah_lulus = 0
jumlah_tidak_lulus = 0


for Nama, Nilai in data.items():


  if 80<= Nilai <= 100:
    Huruf =  "A"
    Status = "Lulus"

  elif 70 <= Nilai <=79:
    Huruf =  "B"
    Status = "Lulus"

  elif 60 <= Nilai <=69:
    Huruf =  "C"
    Status = "Lulus"

  elif 50 <= Nilai <=59:
    Huruf = "D"
    Status = "Tidak Lulus"

  else :
    Huruf = "E"
    Status = "Tidak Lulus"


  print(f"{Nama} : {Nilai}  - Keteranga_huruf ({Huruf}) - Keterangan_kelulusan : {Status}")

  hasil_ujian[Nama] = {
    "Nilai" : Nilai,
    "Huruf" : Huruf,
    "Status" : Status
  }

  if Status == "Lulus":
    jumlah_lulus += 1

  else :
    jumlah_tidak_lulus += 1


print(f"{jumlah_lulus} Mahasiswa Lulus")
print(f"{jumlah_tidak_lulus} Mahasiswa Tidak Lulus")

Andi : 85  - Keteranga_huruf (A) - Keterangan_kelulusan : Lulus
Budi : 74  - Keteranga_huruf (B) - Keterangan_kelulusan : Lulus
Siti : 92  - Keteranga_huruf (A) - Keterangan_kelulusan : Lulus
Diana : 50  - Keteranga_huruf (D) - Keterangan_kelulusan : Tidak Lulus
Eko : 45  - Keteranga_huruf (E) - Keterangan_kelulusan : Tidak Lulus
Fajar : 77  - Keteranga_huruf (B) - Keterangan_kelulusan : Lulus
Gita : 80  - Keteranga_huruf (A) - Keterangan_kelulusan : Lulus
Hadi : 59  - Keteranga_huruf (D) - Keterangan_kelulusan : Tidak Lulus
Indah : 90  - Keteranga_huruf (A) - Keterangan_kelulusan : Lulus
Joko : 6  - Keteranga_huruf (E) - Keterangan_kelulusan : Tidak Lulus
6 Mahasiswa Lulus
4 Mahasiswa Tidak Lulus

## **SOAL** **LATIHAN** **3**

In [ ]:
#Baca data dari file CSVmenggunakan Pandas
import pandas as pd

#Baca data dari file CSVmenggunakan Pandas

df = pd.read_csv('/content/Data Mahasiswa Rahma Uyun.csv', sep=';')
df

    Nama      Jurusan  Nilai
0   Andi  Informatika     85
1   Budi      Ekonomi     78
2   Siti   Matematika     90
3   Dina  Informatika     95
4    Eko      Ekonomi     88
5  Fajar   Matematika     76
6   Gita  Informatika     89
7   Hadi      Ekonomi     92
8  Indah   Matematika     85
9   Joko  Informatika     80

In [ ]:
#Menampilkan rata-rata nilai seluruh mahasiswa

Rata_Rata = df['Nilai'].mean()
print ('Rata_Rata_Nilai : ' , Rata_Rata)

Rata_Rata_Nilai :  85.8

In [ ]:
#Menampikan jumlah mahasiswa per jurusan

Jumlah_Mahasiswa_per_Jurusan = df['Jurusan'].value_counts()
print(Jumlah_Mahasiswa_per_Jurusan)

Jurusan
Informatika    4
Ekonomi        3
Matematika     3
Name: count, dtype: int64

In [ ]:
#Menampilkan Mahasiswa dengan nilai tertinggi di setiap jurusan

Nilai_Tertinggi_di_Setiap_Jurusan = df.loc[df.groupby('Jurusan')['Nilai'].idxmax()]
print(Nilai_Tertinggi_di_Setiap_Jurusan)

   Nama      Jurusan  Nilai
7  Hadi      Ekonomi     92
3  Dina  Informatika     95
2  Siti   Matematika     90